{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    }
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"]
  },
  "plugins": ["babel"],
  "parser": "babel-eslint"
}
